@import url("https://use.typekit.net/goj2fvu.css"); /* frontpage and stats font */
@import url('https://fonts.googleapis.com/css2?family=Hind&family=Maven+Pro:wght@500&display=swap'); /* tabs fonts */

body {
    box-sizing: border-box;
    background-color: black !important;
    padding: 0;
    margin: 0;
}

/* ||| MODAL ||| */

#modal {
    /* border: 10px solid white; */
    /* height: 40vh; */
    margin: auto;
    border-radius: 100px;
    background-color:#beef00;
    display: none;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    box-shadow: 10px 10px #FF0028, -2em 0 .9em #beef00 !important;
    overflow: auto;
}

#modal-content {
    /* border: 1px solid blue; */
    font-family: termina, sans-serif !important;
    font-weight: 900;
    font-style: normal;
    color: #242526;
    font-size: 2vh !important;
    margin: 50px;
    text-align: center;
}

#modal-top { 
    /* border: 1px solid grey; */
    display: flex; 
    color: #FF0028 !important;
    justify-content: space-between;
    font-size: 2vh !important;
}

h3 {
    color: #FF0028 !important;
    font-family: termina, sans-serif !important;
    font-weight: 900;
    font-style: normal;
    font-size: 2vh !important;
    padding: 30px 0;
}

input { 
    font-family: termina, sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #242526;
    margin: 10px !important;
}

#submit {
    background-color: #FF0028;
    font-size: 1vw;
    padding: 20px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.close {
    border: none;
    font-size: 50px !important;
    left: 800px;
} 

/* ||| FRONTPAGE/ VIDEO SECTION ||| */

header {
    /* border: 1px solid fuchsia; */
    width: 100%;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 10vh;
    font-family: termina, sans-serif;
    font-weight: 900;
    font-style: normal;
    overflow: hidden;
    text-align: right;
}

nav a {
    color: #FF0028;
    text-decoration: none;
    font-size: 2vw;
    margin: 0px 20px;
}

nav a:hover {
    color: #beef00;
    text-decoration: line-through;
} 

#hidden-menu {
    /* border: 1px solid purple; */
    display: none;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position: absolute;
}

#hidden-links {
    /* border: 1px solid cyan; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(36, 37, 38, .9) 
}

#hidden-links a {
    /* border: 1px solid greenyellow; */
    color: #FF0028;
    font-family: termina, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 10vh;
    text-decoration: none;
    margin: 0;
}

#hidden-links a:hover {
    color: #beef00;
    text-decoration: line-through;
}

#far-right-close {
    /* border: 10px solid green; */
    left: 85%;
    top: 5%;
    position: absolute;
}

#hidden-close {
    /* border: 1px solid blue; */
    font-size: 8vw !important;
}

#hidden-close:hover {
    text-shadow: 5px 5px 5px #beef00;
}

#hamburger {
    /* border: 1px solid fuchsia; */
    display: none;
    color: #FF0028;
    font-size: 6vh;
    margin-top: 5%;
    margin-right: 5%;
    cursor: pointer;
}

video {
    object-fit: fill;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    filter: brightness(40%);
    top: 0%;
    left: 0%;
}

#headlines {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 13vw !important;
    height: 90vh;
}

h1 {
    color: #ff0028 !important;
    text-shadow: 5px 5px #beef00;
    font-family: termina, sans-serif !important;
    font-weight: 900;
    font-style: normal;
    font-size: 7vw !important;
    margin: 0;
}

h2 {
    /* border: 1px solid yellow; */
    color: #FF0028 !important;
    text-shadow: 2px 2px 2px #beef00;
    font-family: termina, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 3vw !important;
    margin: 0;
}

#down-arrow {
    /* border: 1px solid black; */
    color: #FF0028;
    display: flex;
    justify-content: center;
    align-items: center;
}

#down-arrow:hover {
    text-shadow: 5px 5px 5px #beef00;
}

/* ||| STATS SECTION ||| */

.stats {
    /* border: 1px solid white; */
    display: flex;
    margin: 200px 70px;
}

.numbers {
    /* border: 1px solid red; */
    flex-basis: 60vw;
    color: #FF0028;
    font-family: termina, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 5vw;
    background: -webkit-linear-gradient(#ff0028, #beef00, #1400c6);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.couples {
    margin: 0 0 60px 0;
}

#left {
    width: 100%;
}

.stats-text {
    /* border: 1px solid mediumseagreen; */
    color: #FF0028;
    font-family: 'Maven Pro', sans-serif;
    text-transform: uppercase;
    font-size: 5vw;

}

#right {
    /* border: 1px solid green; */
    /* animation: fall 4s infinite linear; */
}

#crunch {
    /* border: 1px solid red; */
    flex-basis: 35vw;
    width: 90%;
    margin: auto;
    color: #FF0028;
    font-family: termina, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 4vw;
    /* animation-name: crunch;
    animation: crunch 4s infinite; 
    animation-timing-function: ease-in-out; */
}

@keyframes crunch {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

@keyframes fall {
    from { 
        transform: translateY(0%)
    } to {
        transform: translateY(400%)
    }
}

/* ||| TABS ||| */

#tabs {
    /* border: 1px solid white; */
    margin-bottom: 200px;
}

#tabs-title {
    text-align: center;
    margin-bottom: 5%;
}

#start-convo {
    /* border: 1px solid cyan; */
    width: 100vw;
    text-transform: uppercase;
    font-size: 4vw !important;
}

button {
    color: #FF0028 !important;
    background: transparent;
    font-family: termina, sans-serif !important;
    font-weight: 900;
    font-style: normal;
    font-size: 1vw !important;
    padding: 10px 20px;
    display: inline-block;
    transition: var(--transition);
    text-transform: uppercase !important;
    letter-spacing: 2px !important;
    cursor: pointer;
}

#history img {
    width: 60%;
    display: block;
    margin: auto;
}

figcaption {
    /* border: 1px solid green; */
    text-align: center;
    margin: 20px;
}

.about-content {
    border: 1px solid white;
    color: white;
    background-color: #242526;
    font-family: 'Maven Pro', sans-serif;
    text-transform: uppercase;
    width: 60vw;
    height: 60vh;
    overflow: scroll;
}

.about-content.active {
    background-color: #242526;
}

.section-center {
    /* border: 1px solid white; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 60vw;
    margin: auto;
  }

.about-center {
    display: grid;
    grid-template-columns: 1fr 1fr; /*come back and review*/
    column-gap: 2rem;
}

.about {
    /* border: 1px solid white; */
    display: grid; 
    grid-template-rows: auto 1fr;
}

.btn-container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.tab-btn {
    display: block;
    cursor: pointer;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.tab-btn:hover:not(.active) {
    background: #242526;
}

.tab-btn.active {
    background-color: #242526;
}

.content {
    display: none;
    margin: 50px;
}

.content.active {
    display: block;
    background: #242526;
}

/* |||News Feed||| */

#nyt-feed {
    /* border: 1px solid white; */
    color: white;
    display: flex;
    justify-content: space-around;
}

/* ||| Footer ||| */

footer {
    /* border: 1px solid white; */
    color: #beef00;
    font-family: termina, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 2vw;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;
}

#footer-links {
    /* border: 1px solid turquoise; */
}

footer ul {
    /* border: 1px solid red; */
    padding: 0;
}

footer a {
    text-decoration: none;
    color: #beef00;
}

footer a:hover {
    color: #FF0028;
    text-decoration: line-through;
}

footer li {
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    margin: 0 100px;
}

.fa-facebook-f, .fa-twitter, .fa-instagram {
    color: #beef00;
}

.fa-facebook-f:hover {
    color: #FF0028;
}

.fa-twitter:hover {
    color: #FF0028;
}

.fa-instagram:hover {
    color: #FF0028;
}

@media screen and (max-width: 1000px){
    #links {
        display: none;
    }
    #hamburger {
        display: initial;
    }
    #frontpage-vid video {
        display: none;
    }
    footer li {
        display: inline-block;
        margin: 0 20px;
        font-size: 4vw;
    }
}

@media screen and (max-width: 800px){
    #nyt-feed {
        flex-direction: column;

    }
    .nyt-cards {
        margin: auto;
        justify-content: center;
        align-items: center;
    }
    #hidden-links a {
        font-size: 8vw;
    }
    #hidden-close {
        font-size: 5vh;
    }
    #hamburger {
        font-size: 4vh;
    }
    .about-content {
        height: 40vh;
    }
}
