@import url("https://use.typekit.net/goj2fvu.css"); /* frontpage and stats font */
@import url('https://fonts.googleapis.com/css2?family=Hind&family=Maven+Pro:wght@500&display=swap'); /* tabs fonts */

body {
    box-sizing: border-box;
    background-color: black;
    padding: 0;
    margin: 0;
}

/* ||| MODAL ||| */

#modal {
    /* border: 1px solid white; */
    /* height: 40vh; */
    margin: auto;
    border-radius: 100px;
    background-color:#beef00;
    display: none;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    box-shadow: 10px 10px #FF0028, -2em 0 .9em #beef00;
    overflow: auto;
}

#modal-content {
    /* border: 1px solid blue; */
    font-family: termina, sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #242526;
    font-size: 2vh;
    margin: 50px;
    text-align: center;
}

#modal-top { 
    /* border: 1px solid grey; */
    display: flex; 
    color: #FF0028;
    justify-content: space-between;
    font-size: 3vh;
}

input { 
    font-family: termina, sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #242526;
    margin: 10px;
}

#submit {
    background-color: #FF0028;
    font-size: 1vw;
    padding: 20px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

#close {
    border: none;
    font-size: 50px;
    left: 800px;
} 

/* ||| FRONTPAGE/ VIDEO SECTION ||| */

header {
    /* display: flex; */
    /* border: 1px solid cyan; */
    width: 100%;
}

nav {
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 10vh;
    font-family: termina, sans-serif;
    font-weight: 900;
    font-style: normal;
    overflow: hidden;
    text-align: right;
}

nav a {
    color: #FF0028;
    text-decoration: none;
    font-size: 2vw;
    margin: 0px 20px;
}

nav a:hover {
    color: #beef00;
    text-decoration: line-through;
}

#links {
    /* border: 1px solid white; */
    flex-basis: 60%;
}

video {
    object-fit: fill;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    filter: brightness(40%);
    top: 0%;
    left: 0%;
}

#frontpage {
    border: 1px solid white;
}

#headlines {
    border: 1px solid blue;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15vw;
    height: 90vh;
}

h1 {
    /* border: 1px solid green; */
    color: #ff0028;
    text-shadow: 5px 5px #beef00;
    font-family: termina, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 8vw;
    margin: 0;
}

h2 {
    /* border: 1px solid yellow; */
    color: #FF0028;
    text-shadow: 2px 2px 2px #beef00;
    font-family: termina, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 3vw;
    margin: 0;
}

#down-arrow {
    /* border: 1px solid black; */
    color: #FF0028;
    display: flex;
    justify-content: center;
    align-items: center;
}

#down-arrow:hover {
    text-shadow: 5px 5px 5px #beef00;
}

/* ||| STATS SECTION ||| */

.stats {
    border: 1px solid white;
    display: flex;
    margin: 200px 70px;
}

.numbers {
    /* border: 1px solid red; */
    flex-basis: 60vw;
    color: #FF0028;
    font-family: termina, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 5vw;
    background: -webkit-linear-gradient(#ff0028, #beef00, #1400c6);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.couples {
    margin: 0 0 60px 0;
}

#left {
    width: 100%;
}

.stats-text {
    /* border: 1px solid mediumseagreen; */
    color: #FF0028;
    font-family: 'Maven Pro', sans-serif;
    text-transform: uppercase;
    font-size: 5vw;

}

#right {
    border: 1px solid green;
    /* animation: fall 4s infinite linear; */
}

#crunch {
    border: 1px solid red;
    flex-basis: 35vw;
    width: 90%;
    margin: auto;
    color: #FF0028;
    font-family: termina, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 4vw;
    /* animation-name: crunch;
    animation: crunch 4s infinite; 
    animation-timing-function: ease-in-out; */
}

@keyframes crunch {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

@keyframes fall {
    from { 
        transform: translateY(0%)
    } to {
        transform: translateY(400%)
    }
}

/* ||| TABS ||| */

#tabs {
    border: 1px solid white;
    margin-bottom: 200px;
}

#tabs-title {
    text-align: center;
    margin-bottom: 5%;
}

#start-convo {
    border: 1px solid cyan;
    width: 100vw;
    text-transform: uppercase;
    font-size: 5vw;
}

button {
    color: #FF0028;
    background: transparent;
    font-family: termina, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1vw;
    padding: 10px 20px;
    display: inline-block;
    transition: var(--transition);
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

#history img {
    width: 60%;
    display: block;
    margin: auto;
}

figcaption {
    /* border: 1px solid green; */
    text-align: center;
    margin: 20px;
}

.about-content {
    /* border: 1px solid yellow; */
    color: white;
    background-color: #242526;
    font-family: 'Maven Pro', sans-serif;
    text-transform: uppercase;
    width: 60vw;
    overflow: scroll;
}

.about-content.active {
    background-color: #242526;
}

.section-center {
    border: 1px solid fuchsia;
    width: 60vw;
    margin: auto;
  }

.about-center {
    display: grid;
    grid-template-columns: 1fr 1fr; /*come back and review*/
    column-gap: 2rem;
}

.about {
    border: 1px solid white;
    display: grid; 
    grid-template-rows: auto 1fr;
    /* height: 50vh; */
}

.btn-container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.tab-btn {
    display: block;
    cursor: pointer;
}

.tab-btn:hover:not(.active) {
    background: #242526;
}

.tab-btn.active {
    background-color: #242526;
}

.content {
    display: none;
    margin: 20px;
    height: 40vh;
}

.content.active {
    display: block;
    background: #242526;
}

/* |||Twitter Feed||| */

#twitter-container {
    border: 1px solid greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    column-count: 2;
}

#twitter-feed {
    flex-basis: 30%;
    column-count: 2;
}

/* ||| Footer ||| */

footer {
    /* border: 1px solid white; */
    color: #beef00;
    font-family: termina, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 2vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-links {
    /* border: 1px solid turquoise; */
}

footer ul {
    /* border: 1px solid red; */
    padding: 0;
}

footer a {
    text-decoration: none;
    color: #beef00;
}

footer a:hover {
    color: #FF0028;
    text-decoration: line-through;
}

footer li {
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    margin: 0 100px;
}

.fa-facebook-f, .fa-twitter, .fa-instagram {
    color: #beef00;
}

.fa-facebook-f:hover {
    color: #FF0028;
}

.fa-twitter:hover {
    color: #FF0028;
}

.fa-instagram:hover {
    color: #FF0028;
}

