@import url("https://use.typekit.net/goj2fvu.css");

body {
    box-sizing: border-box;
    background-color: black;
    padding: 0;
    margin: 0;
}

header {
    /* display: flex; */
    /* border: 1px solid cyan; */
    width: 100%;
}

nav {
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 10vh;
    font-family: termina, sans-serif;
    font-weight: 900;
    font-style: normal;
    overflow: hidden;
    text-align: right;
}

nav a {
    color: #FF0028;
    text-decoration: none;
    font-size: 2vw;
    margin: 0px 20px;
}

nav a:hover {
    color: #CAFEFE;
    text-decoration: line-through;
}

#links {
    /* border: 1px solid white; */
    flex-basis: 60%;
}

video {
    object-fit: fill;
    width: 100vw;
    height: 95vh;
    position: absolute;
    z-index: -1;
    filter: brightness(30%);
    top: 0%;
    left: 0%;
}

#frontpage {
    border: 1px solid white;
}

#headlines {
    border: 1px solid blue;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15vw;
    height: 85vh;
}

h1 {
    /* border: 1px solid green; */
    color: #ff0028;
    text-shadow: 5px 5px #CAFEFE;
    font-family: termina, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 8vw;
    margin: 0;
}

h2 {
    /* border: 1px solid yellow; */
    color: #FF0028;
    text-shadow: 2px 2px 2px #CAFEFE;
    font-family: termina, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 3vw;
    margin: 0;
}

#down-arrow {
    /* border: 1px solid black; */
    color: #FF0028;
    display: flex;
    justify-content: center;
    align-items: center;
}

#down-arrow:hover {
    cursor: pointer;
    text-shadow: 5px 5px 5px #CAFEFE;
}

.stats {
    border: 1px solid white;
    display: flex;
    margin: 250px 70px;
}

#lives-stat, #money-stat, #opportunities-stat, #families-stat {
    border: 1px solid red;
    flex-basis: 60vw;
    color: #FF0028;
    font-family: termina, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 5vw;
}

#left span {
   background: -webkit-linear-gradient(#ff0028, #CAFEFE, #beef00);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

#right {
    border: 1px solid green;
    /* margin-left: 20px; */
}

#crunch {
    border: 1px solid red;
    flex-basis: 35vw;
    width: 90%;
    margin: auto;
    color: #FF0028;
    font-family: termina, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 4vw;
}
